<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-SextoSol.png" alt="Logo Sexto Sol">
    </figure>
    <h1><%= product.name %> </h1>    
    <br>
    <p>PRECIO: <%= product.price %> </p>
    <p>DESCRIPCION: <%= product.description %> </p>
    <p>FECHA DE COMPRA: <%= product.purchase_date %> </p>
    <br>
    <section>
        <a class="botonModificar" href="/products/edit/<%= product.id %>">Modificar</a>
        <a class="botonBorrar" href="/products/delete/<%= product.id %>">Borrar</a>
        <a class="botonVolver" href="/products">Listado de Productos</a>
    </section>

</body>
</html>